h1 {margin-top: 20px;
margin-left:25px;
font-family: Verdana, Geneva, sans-serif;
font-size: 45px;
font-family: Verdana, Geneva, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 500;
display:block;}

#nav-bar {margin-top: 17px;
    margin-left:10px;
    margin-right:10px;
margin-bottom: 0px;}

th {text-align: center;}

tr {text-align: center;}